.light-box{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index:999999;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

.light-box .lightbox-inside{
  
  
  background: white;
  border-radius: 16px;
  padding:16px;
  text-align: center;
}
.lightbox-inside{
  max-width: 1400px;
}

.light-box img{
  
  border-radius: 10px;
}